body {
    color:#212b36;
    font-size: 14px;
    font-weight: 400;
}
.btn-primary {
    font-size: 14px;
    background-color: #5563c1;
    border-color: #3f4eae;
    color: #ffffff;
}
.btn-primary:hover {
    background-color: #4959bd;
    border-color: #3f4eae;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #007ace;
    font-weight: 600;
    font-size: 14px;
}
a:hover {
    color: #084e8a;
}
h3.box-title {
    font-weight: 600;
}
.main-title {
    padding-top:25px;
    padding-bottom:10px;
    margin-bottom:16px;
    border-bottom: .1px solid #dfe3e8;
}
a.breadcrumb-back {
    color: #637381;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
a.breadcrumb-back:hover {
    color: #212b36;
}
.select-rule-header {
    background-color: #F4F6F8 !important;
}
.form-control {
    font-size:14px;
}
.rule-row , .rule-row th, .rule-row td {
    background: #43467F;
    color:#ffffff;
}
.rule-row a {
    color: #ffffff;
}
.rule-option-title {
    font-size:16px;
    font-weight: 600;
    text-decoration: underline;
    font-style: italic;
}
.owner-created-reasons-title {
    font-size: 16px;
    font-weight: 600;
    /*font-style: italic;*/
    text-decoration: underline;
}
/**
 * Start: Home Page Menu Design
 */
.dsmenusptp {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
}
.dsmenusptp .dsmenucont-wrap {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 4.8rem;
    text-align: center;
    border-radius: .1875rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}
.dsmenusptp .dsmenucont-wrap>i {
    font-size: 24px;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    border: 1px solid #000;
    border-radius: 34%;
    padding: 10px;
}

.dsmenusptp .dsmenucont a {
    color:#000000;
    cursor:pointer;
}
.dsmenusptp .dsmenucont a:hover {
    color:#5c6ac4;
    text-decoration:none;
}
.dsmenusptp .dsmenucont .title:hover {
    color:#5c6ac4;
}

.dsmenusptp .title	{
    display: block;
    font-size: 16px;
    line-height: 68px;
    cursor: pointer;
}
.dsactive {
    color:#5c6ac4;  
}
/**
 * End: Home Page Menu Design
 */